<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
  <!-- Favicon -->
  <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
  <!-- Icons -->
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="../assets/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<body>
  <!-- Sidenav -->

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello Jesse</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
           
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
              <div class="text-center" style="margin-top:10%;">
                  <h2>
                    Company Name<span class="font-weight-light">, 27</span>
                  </h2>
                  
              </div>
          
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    
                      <div class="card-profile-image" style="margin-top:-15%;">
                          <a href="#">
                            <img src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                          </a>
                        </div>
                      
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  Jessica Jones<span class="font-weight-light">, 27</span>
                </h3>
                
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4" />
                <p>email:somethign@somevsv.cpv</p>
                <p>tel:+24456778</p>
                <a href="/use/1" class="btn btn-primary">Use this</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                
               
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        
                          <div class="card-profile-image">
                              <a href="#">
                                <img src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                              </a>
                            </div>
                          
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3>
                      Jessica Jones<span class="font-weight-light">, 27</span>
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>Bucharest, Romania
                    </div>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                    </div>
                    <div>
                      <i class="ni education_hat mr-2"></i>University of Computer Science
                    </div>
                    <hr class="my-4" />
                    <p>email:somethign@somevsv.cpv</p>
                    <p>tel:+24456778</p>
                    <a href="/use/2" class="btn btn-primary">Use this</a>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile bg-gradient-default shadow" style='color:white;'>
                
               
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        
                          <div class="card-profile-image">
                              <a href="#">
                                <img src="../assets/img/theme/team-4-800x800.jpg" class="">
                              </a>
                            </div>
                          
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3  style="color:white">
                      Jessica Jones<span class="font-weight-light">, 27</span>
                    </h3>
                    <div class="h5 font-weight-300"  style="color:white">
                      <i class="ni location_pin mr-2"></i>Bucharest, Romania
                    </div>
                    <div class="h5 mt-4"  style="color:white">
                      <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                    </div>
                    <div>
                      <i class="ni education_hat mr-2"></i>University of Computer Science
                    </div>
                    <hr class="my-4" />
                    <p>email:somethign@somevsv.cpv</p>
                    <p>tel:+24456778</p>
                    <a href="/use/3" class="btn btn-primary">Use this</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0" style="margin-top:5%;">
                <div class="card card-profile shadow">
                  
                 
                  <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                      <div class="col">
                        <div class="card-profile-stats d-flex mt-md-5">
                            <div class="card-profile-image">
                                <a href="#">
                                  <img src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                                </a>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-xl-right" style="position:absolute;top:10%; right: 10%;">
                      <h3>
                        Jessica Jones<span class="font-weight-light">, 27</span>
                      </h3>
                      <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>Bucharest, Romania
                      </div>
                      <div class="h5 mt-4">
                        <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                      </div>
                      <div>
                        <i class="ni education_hat mr-2"></i>University of Computer Science
                      </div>
                      <hr class="my-4" />
                      <p>email:somethign@somevsv.cpv</p>
                      <p>tel:+24456778</p>
                    </div>
                    <div class="text-xl-center">
                    <a href="/use/4" class="btn btn-primary" >Use this</a>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0" style="margin-top:5%;">
                  <div class="card card-profile bg-gradient-default shadow" style='color:white;'>
                    
                   
                    <div class="card-body pt-0 pt-md-4">
                      <div class="row">
                        <div class="col">
                          <div class="card-profile-stats d-flex mt-md-5">
                              <div class="card-profile-image">
                                  <a href="#">
                                    <img src="../assets/img/theme/team-4-800x800.jpg" class="">
                                  </a>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-xl-right" style="position:absolute;top:10%; right: 10%;">
                        <h3 style='color:white;'>
                          Jessica Jones<span class="font-weight-light">, 27</span>
                        </h3>
                        <div class="h5 font-weight-300" style='color:white;'>
                          <i class="ni location_pin mr-2"></i>Bucharest, Romania
                        </div>
                        <div class="h5 mt-4" style='color:white;'>
                          <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                        </div>
                        <div style='color:white;'>
                          <i class="ni education_hat mr-2"></i>University of Computer Science
                        </div>
                        <hr class="my-4" />
                        <p>email:somethign@somevsv.cpv</p>
                        <p>tel:+24456778</p>
                      </div>
                      <div class="text-xl-center">
                      <a href="/use/5" class="btn btn-primary">Use this</a>
                    </div>
                    </div>
                  </div>
                </div>
  
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.0.0"></script>
</body>

</html>